<!DOCTYPE html>
<html>
  <head>
    <title>Adding Ninja</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>Adding a New Ninja</h1>
    <form action="/shinobi" method="POST">
      <label>Name:</label>
      <input type="text" name="name" required />
      <br>
      <label>Village:</label>
      <input type="text" name="village" required />
      <br>
      <label>Chakra Level:</label>
      <input type="number" name="chakraLevel" required />
      <br>
      <label>Jutsu:</label>
      <input type="text" name="jutsu" required />
      <br>
      <label>Image filename:</label>
      <input type="text" name="image" required />
      <br>
      <button type="submit">Adding Ninja</button>
    </form>
  </body>
</html>
